<h2>Airline</h2>
<table class="table table-dark table-striped">
    <thead class=thead-dark>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Creation Year</th>
            <th scope="col">Average Annual Turnover</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in @Model) {
            <tr>
                <th>@item.Id</th>
                <th>@item.Name</th>
                <th>@item.CreationYear</th>
                <th>@item.AverageAnnualTurnover</th>
            </tr>
        }
    </tbody>
</table>











